{% extends "base.html" %}


{% block contenido_cambia %}
    <br><hr>
    <h5>Cargar nuevo estudiante:</h5>
    <form action="{% url 'AppCoderEstudiantes'  %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Enviar datos de nueva información!">

    </form>

    <br><hr>
    <h5>Realizar busqueda de estudiante:</h5>
    <form action="{% url 'AppCoderEstudiantes'  %}">

            {{ form_busqueda.as_p }}
            <input type="submit" value="Realizar busqueda!">
    </form>
    <hr><br>

    {% if alumnos %}
        {% for alumnos in alumnos %}
     <!--   <p>nombre: {{ estudiantes.nombre }}</p>
            <p>apellido: {{ estudiantes.apellido }}</p>
            <p>telefono: {{ estudiantes.telefono }}</p>
            <p>email: {{ estudiantes.email }}</p> -->
        {% endfor %}
    {% else %}
        <h3>No hay estudiantes en este momento</h3>
    {% endif %}


{% endblock %}