{% extends "base.html" %}


{% block contenido_cambia %}
    <form action="{% url 'AppCoderProfesores'  %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Enviar datos de nueva información!">

    </form>

    <br><hr>
    <h5>Realizar busqueda de docente:</h5>
    <form action="{% url 'AppCoderProfesores'  %}">

            {{ form_busqueda.as_p }}
            <input type="submit" value="Realizar busqueda!">
    </form>
    <hr><br>

    {% if profesores %}
        {% for profesor in profesores %}
            <p>nombre: {{ profesor.nombre }}</p>
            <p>apellido: {{ profesor.apellido }}</p>
            <p>telefono: {{ profesor.telefono }}</p>
            <p>email: {{ profesor.email }}</p>
            <p>profesion: {{ profesor.profesion }}</p>
        {% endfor %}
    {% else %}
        <h3>No hay profesores en este momento!</h3>
    {% endif %}


{% endblock %}